
#menu_bar {
	background-color: darkgray;
	overflow : hidden;
	border: none;
	cursor: pointer;
	display: flex;
	align-items: center;
	padding: 10px 0;
}

.web-title {
	flex-grow: 1;
	margin-left: 2%;
}
.drop_down {
	/*position: relative; 
	margin-left: 1180px;
	display: inline-block;*/
	flex-grow: 1;
	text-align: right;
	margin-right: 2%;
}

.chart-list {
	margin-right: 2%;
}

.chart-link {
	text-align: middle;
}