
#menu_bar {
	border: none;
	cursor: pointer;
	display: flex;
	align-items: center;
	background-color: darkgray;
}

.container {
	padding: 10px 0;
	position: relative;
	flex-grow: 1;
	text-align: left;
	margin-right: 2%;
}

.drop_down {
	text-align: right;
}

.web-title {
	flex-grow: 1;
	margin-left: 2%;
}

.temp {
	position: absolute;
	top : 100%;
	left: 85%;
}

.chart-list {
	margin-right: 2%;
}