.tag_contents{
        position: relative;
        display: flex;
        justify-content: center;
        flex-direction: column;
        padding: 0 5px;
        box-sizing: border-box;
        z-index: 0;
    }
    
    .tag_contents p {
        position: relative; 
        margin-bottom: 0.2rem;
        padding: 1rem;
        border-left: 30px solid #EF9293;
        background-color: rgb(255, 185, 185);
        color: #212121;
        font-weight: bold;
        font-size: 15px;
    }
    
    .tag_contents p::before {
        position: absolute;
        right: 1px;
        bottom: 10px;
        width: 50%;
        height: 50%;
        box-shadow: 0 10px 15px #333;
        transform: rotate(4deg);
        z-index: -1;
        content: '';
    }
